.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.between span{
    display: inline-flex;
    width: 50%;
    justify-content: space-between;
}
.between span label{
    width: 40%;
    padding-left: 5%;
    
}
.between span input{
    width: 50%;
    padding-right: 5%;
}


h1{
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-family: monospace;
    font-weight: 800;
    color: #8faae5;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.errors{
    margin-top: 20px;
   display: inline-block;
    color: red;
    font-family: monospace;
    font-size: 20px;
    
}
.errors span{
    text-align: center;
   display: block;
    border-bottom: 1px solid #8faae5;
}
form{
    margin-top: 50px;
    font-size: 25px;
    padding: 50px;
    border: 1px solid #4E74C4;
    max-width: 40vw;
    background-color: #051027;
    color: #ccc;
}
label{
    padding-left: 10px;
    font-size: 1.3vw;
}
input[type="text"], input[type="password"]{
    height: 2vw;
    font-size: 1.3vw;
    width: 12vw;
    border: 1px solid #4E74C4;
    background-color: #030b1b;
    padding-left: 1%;
    color: #8faae5;
}
input[type="text"]:focus, input[type="password"]:focus{
    outline: 1px solid #8faae5;
    background-color: #051027;
}
input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 50px #051027 inset;
    -webkit-text-fill-color: #8faae5 !important;
}
input[type="submit"]{
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    border: 1px solid #4E74C4;
    background-color: #051027;
    color: #8faae5;
    border-radius: 5px;
}
.year-img{
    margin-top: 100px;
    width: 200px;
    max-height: 200px;
}
.year-text{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 40px;
}
.user-stats{
    position: absolute;
    bottom: 50px;
    left:0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}
.proc-success{
position: absolute;
width: 100vw;
height: 100vh;
top:0;
left:0;
display: flex;
align-items: center;
justify-content: center;
font-family: monospace;
font-weight: 600;
font-size: 4vw;
color: green;
z-index: -10;
}
.sign-up-link{
    color: #8faae5;
    font-size: 1.5vw;
}