.center-tall{
    display: inline-flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
}
#friendsListWrapper{
    position: fixed;
    left:0;
    padding-top: 1vh;
    top:5vh;
    display: inline-block;
    width: 10vw;
    height: 90vh;
    background-color: #aaa;
    border: 0px solid transparent;
    border-radius: 0 10px 10px 0;
}
#friendsList{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

#friendsList .friends, #friendsList .notfriends{
    min-height: 10vh;
    position: relative;
    padding-top: 5vh;
}

#friendsList .friends .title, #friendsList .notfriends .title{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-size: 1.4vw;
}
.fl-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.fl-person{
    display: inline-block;
    width: 40%;
    aspect-ratio: 1/1;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 50%;
    background-image: url("../img/default_pfp.svg");
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    transition: 0.2s transform ease-in-out;
}
.fl-person:hover{
    transform: scale(1.1);
}

.fl-user{
    height: 5vh;
    width: 100%;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 10vh;
    left:0;
    text-align: center;
    z-index: 10;
    font-size: 1.5vw;
}

.fl-logout{
    display: flex;
    position: absolute;
    bottom: 0;
    left:0;
    height: 6vh;
    width: 100%;
    font-size: 2vw;
    align-items: center;
    justify-content: center;
    color: red;
    font-family: monospace;
    font-weight: 800;
    border: 0px solid transparent;
    border-top: 1px solid #ccc;
    text-decoration: none;
    transition: 0.2s background-color ease-in-out;
    border-radius: 0 0 10px 0;
}

.fl-logout:hover{
    background-color: rgb(94, 94, 94);
}

/* EXPANDED FRIENDS */
#friendExpandedWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    transform: translateY(-100%);
    transition: 1s transform;
    pointer-events: none;
}
#friendExpanded{
    display: inline-block;
    width: 50vw;
    aspect-ratio: 2/1;
    border: 2px solid #ccc;
    border-radius: 10px;
    pointer-events: all;
    position: relative;
    background-color: rgb(248, 248, 248);
}
.friend-expanded-content-wrapper{
    display: flex;
    justify-content: space-between;
    align-self: start;
    height: 100%;
}
.friend-expanded-content{
    display: inline-block;
    width: 59%;
}

.friend-expanded-pfp{
    width: 100%;
    aspect-ratio: 1/1;
}

.friend-expanded-name{
    display: inline-block;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.5vw;
    margin-top: 10%;
    text-align: center;
}

.friend-expanded-add-friend{
    display: inline-block;
    width: 90%;
    margin: 2% 5%;
    text-decoration: none;
    font-family: monospace;
    color: rgba(110, 247, 110, 0.815);
    font-weight: 800;
    background-color: #aaa;
    text-align: center;
    font-size: 2vw;
    border: 0px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}




.remove-friend-link{
    padding-left:10px;
    background-color: #aaa;
    border: 2px solid transparent;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 15%;
    position: absolute;
    bottom: -2px;
    right: -2px;
    text-decoration: none;
    cursor: pointer;
}

.remove-friend-link img{
    display: inline-block;
    height: 100%;
    aspect-ratio: 1/1;
    border: 0px solid transparent;
    border-radius: 50%;
    
}
.remove-friend-link span{
    color: white;
    font-family: monospace;
    font-weight: 800;
    font-size: 1.5vw;
    padding-left: 0.5vw;
}