#mailIcon{
    display: inline-block;
    position: fixed;
    right:40px;
    top:20px;
    width: 5vw;
    height: 5vw;
    background-image: url("../img/mail_icon.svg");
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

#mailIcon:hover{
    transform: rotate(-10deg);
}

.mail-icon-hasmail:after{
    display: inline-block;
    content: '';
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #8faae5;
    border: 0px solid transparent;
    border-radius: 50%;
    left: -0.5vw;
    top:0;
    filter: blur(2px);
    animation: new_mail 2s infinite;
}

@keyframes new_mail {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

#mailExpandedWrapper{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 40;
    transform: translateY(-100%);
    transition: 1s transform;
    pointer-events: none;
}
#mailExpanded{
    display: inline-block;
    width: 50vw;
    height: 25vw;
    border: 2px solid #4E74C4;
    pointer-events: all;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #051027;
    color: #cccccc;
}

.mail-item{
    display: inline-flex; 
    align-items: center;
    justify-content: left;
    position: relative;
    padding: 10px 0 10px 10%;
    font-size: 1.5vw;
    width: 80%;
    height: 3vw;
    border: 2px solid #4E74C4;
    border-radius: 10px;
    margin: 5px 5%;
    
}

.mail-item-icon{
    position: absolute;
    top:5%;
    left:1%;
    display: inline-block;
    height: 90%;
    aspect-ratio: 1/1;
    border: 0px solid transparent;
    border-radius: 50%;
    
}
.mail-item-icon-no{
    position: absolute;
    top:10%;
    right:1%;
    display: inline-block;
    height: 80%;
    aspect-ratio: 1/1;
    border: 0px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.mail-item-icon-yes{
    position: absolute;
    top:10%;
    right:10%;
    display: inline-block;
    height: 80%;
    aspect-ratio: 1/1;
    border: 0px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}